html{
    min-width: 250px;
}

body{
    margin: 2em 12.5% 2em 12.5%;
    font-size: 20px;
    direction: rtl;
    font-family: "Estedad-MDarvishi", sans-serif;
    line-height: 1.5;
    word-break: break-word;
    text-decoration:none;
    font-weight: 400;
    min-height:100%;
    height:auto;
  }

h1,h2,h3,h4,h5,h6{
    color:rgb(63, 71, 79);

}

::selection {
    background-color:rgb(63, 71, 79);
    color:aliceblue;
}

svg{
    user-select: none;
    width: 1em;
    height: 1em;
}

.svg-back{
    width: 21px;
    margin: 0px 0px 0px 5px;
    fill:black;
}

a{
    color:#00cc99;
    text-decoration:none;
}

.footer{
    margin-top: 3em;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
}

p{
    font-size: 16px;
    margin: auto;
    line-height: 1.5;
    word-break: break-word;
    text-decoration:none;
    font-weight: 500;
}


@media all and (min-width: 384px) and (max-width: 767px) {
    body{
        margin: 2em 7.5% 2em 7.5%;
      }
    
    .footer{
        margin-top: 10em;
    }
    
    p{
        font-size: 16px;
        margin: auto;
        line-height: 1.5;
    }
}

@media all and (max-width: 384px) {
    body{
        margin: 2em 5% 2em 5%;
      }

    
    .footer{
        margin-top: 3em;
    }
    
    p{
        font-size: 16px;
        margin: auto;
        line-height: 1.5;
    }

}