@font-face {
    font-family: "Estedad-MDarvishi";
    src: url("EstedadMDarvishi-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Estedad-MDarvishi";
    src: url("EstedadMDarvishi-BoldDS2.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}