html{
    min-width: 250px;
    text-align: center;
}

body{
    position: relative;
    padding: 0em 10em 0em 10em;
    text-align: center;
    margin: 2em 12.5% 2em 12.5%;
    font-size: 20px;
    direction: rtl;
    font-family: "Estedad-MDarvishi", sans-serif;
    line-height: 1.6;
    word-break: break-word;
    text-decoration:none;
    font-weight: 400;
    background-color: rgb(63, 71, 79);
  }

h1,h2,h3,h4,h5,h6{
    color: #f0f0f0;
}

::selection {
    background-color:rgb(63, 71, 79);
    color:aliceblue;
}

p{
    color: #f0f0f0;
    font-size: 32px;
    margin: auto;
    line-height: 1.5;
    word-break: break-word;
    text-decoration:none;
    font-weight: 500;
}

@media all and (min-width: 384px) and (max-width: 767px) {
    body{
        margin: 2em 7.5% 2em 7.5%;
        padding: 0em 0em 0em 0em;
      }
    
}

@media all and (max-width: 384px) {
    body{
        margin: 2em 5% 2em 5%;
        padding: 0em 0em 0em 0em;
      }
}