html, body {
	height: 100%;
	margin: 0;
}

body, .tl-dl, .button {
	display: flex;
	justify-content: safe center;
	align-items: safe center;
	gap: 0.1rem;
}

body {
	flex-direction: column;
	font-family: "Arad", sans-serif;
	color: black;
}

.tl-dl {
	flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

::selection {
	background-color: #00cc99;
	color: #f0f8ff;
}

svg {
	margin-bottom: 1px;
	height: 1.7rem;
	fill: black;
}

.svg-download{
	fill: rgb(255, 255, 255);
}

.title {
	font-weight: 800;
	text-align: center;
	font-size: 40pt;
	margin-bottom: -10px;
	transition: font-variation-settings 0.5s;
	font-variation-settings: 'DSTY' 2;
}

.subtitle {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

p {
	text-align: center;
	margin: 1rem auto;
	max-width: 60rem;
	padding: 0 1rem;
	font-size: 13.5pt;
}

.button, .button-menu {
	font-family: "Arad", sans-serif;
	font-weight: 500;
	margin: .8rem;
	position: relative;
	gap: .5rem;
	padding: 14px 26px 14px 26px;
	color: black;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 14px;
	font-size: 14pt;
	border: 0px solid black;
	background-color: rgb(245, 245, 245);
	transition: font-weight 0.5s;
}

.button:hover, .button:focus, .button-menu:hover, .button-menu:focus {
	background-color: rgb(245, 245, 245);
	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: ease;
	font-weight: 700;
	font-variation-settings: 'DSTY' 2;
}

.button-download:hover, .button-download:focus {
	background-color: #00bb8c;
	color: rgb(255, 255, 255);
}

.button-download {
	background-color: #00cc99;
	color: #fff;
}

.do {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.title-box {
	text-align: center;
}

.download-box {
	text-align: center;
	margin-top: 10px;
}

.version-info {
	margin-top: -5px;
	margin-bottom: 10px;
	font-size: 14px;
}

@supports (font-variation-settings: normal) {
    body, .button {
    font-family: "Arad-VF", sans-serif;
    }
}


@media (prefers-color-scheme: dark) {

	html, .button {
		filter: invert() hue-rotate(180deg);
	}

	.button:hover, .button:focus {
		filter: brightness(1.2) invert() hue-rotate(180deg);
	}

}


@media all and (max-width: 384px) {
	body, .tl-dl, .button {
		gap: 0rem;
	}
	.title {
		text-align: center;
		font-size: 36pt;
		line-height: 1;
		margin-bottom: 0px;
	}

	.button, .button-menu{
		margin: .4rem;
		font-size: 13pt;
	}

	svg{
		height: 1.4rem;
	}
}
