html {
  overflow-y: scroll;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: black;
  border-radius: 10px;
  color: aliceblue;
  height: 1em;
  width: 1em;
  text-align: center;
  font-size: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 125%;
  margin-left: -120px;
  direction: rtl;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 0 2px 0 black;
  background-color: #fff;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:click .tooltiptext {
  visibility: visible;
}

.button, .back-button {
	font-family: "Arad", sans-serif;
  align-items: center;
  justify-content: center;
  position: relative;
	gap: .5rem;
	padding: 14px 26px 12px 26px;
	color: black;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 10px;
	font-size: 13pt;
	border: 2px solid black;
	box-shadow: 0 3px 0 black;
  background-color: #ffffff;
	flex-wrap: wrap;
  display: flex;
  width: 9em;
}

.back-button:hover, .back-button:focus {
	background-color: rgb(245, 245, 245);
	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: ease;
}

svg{
  user-select: none;
  height: 1.5rem;
}

.svg-back{
  height: 1.7rem;
  margin: 0px 0px 0px 0px;
  fill:black;
}

body {
  margin: 2em 12.5% 1em 12.5%;
  font-family: "Arad", sans-serif;
}

main{
  direction: rtl;
  font-family: "Arad", sans-serif;
  line-height: 2;
  word-break: break-word;
}

p{
  margin-top: 20px;
}

.aside-child{
	overflow-y: hidden;
	box-sizing: content-box;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.aside-child::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.aside-child {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
sup{
  font-size: 12px;
}
aside{
  justify-content: center;
  font-family: "Arad", sans-serif;
  top: 1.5em;
  right: 1.5em;
  z-index: 1;
  display: flex;
  line-height: 1.4;
  overflow: hidden;
  height: 15%;
}
#FontToggle{
  background-color: transparent;
}
#fixedbutton {
    font-family: "Arad", sans-serif;
    font-variation-settings: "wght" 400;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ff4242;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
	border-radius: 8px;
    font-size: 16px;
    padding: 5px 10px;
}
main, aside {
  color: #222;
  border-radius: 0.5em;
}
.butttton{
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Arad", sans-serif;
  /* background-color: white; */
  border-radius: 0.2em;
  margin: auto;
}
::selection {
    background-color: #06d3b7;
}
input,
button,
textarea,
select {
  /* font-size: 12px; */
  font-family: "Arad", sans-serif;
  font-variation-settings: "wght" 400;
  outline: none;
}
*:focus {
    outline: none;
}
h1 {
  color: #222;
  font-variation-settings: "wght" 500;
  font-size: 28px;
}
a {
  outline: none;
  text-decoration: none;
  cursor:pointer;
  font-variation-settings: "wght" 600;
}

a:hover {
  color: #06d3b7;
}

form p > span {
  display: flex;
  justify-content: space-between;
}

form button {
  background-color: transparent;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0;
}

form button:focus,
form button:hover {
  color: #06d3b7;
  outline: none;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  font: 18px Arad, sans-serif;
  font-variation-settings: "wght" 550;
}

#otfeatures{
  display: flex;
  flex-wrap: wrap;
}

.tab button:hover {
  color: #06d3b7;
}


.tab button.active {
  color: #06d3b7;
}

.footer {
  margin-top: 1em;
  left: 3em;
  width: 100%;
  text-align: center;
}

.footer-lang{
  font-size: 16px;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  color: darkgray;
}

.tabcontent {
  display: none;
}

.align {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 50em) {
  body {
    grid-template-areas:
    "main aside"
}
    grid-gap: 0;
  }
  input[type="range"] {
    margin-top: 8px;
    -webkit-appearance: none;
  	-moz-appearance: none;
  	background: #ffffff;
    border: 1px solid black;
    box-shadow: 0 1px 0 black;
    border-radius: 5px;
    width: 100%;
    height: 5px;
	margin-left: 10px;
	margin-right: 10px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    border: 2px solid #ffffff;
    box-shadow: 0 1px 0 black;
    border-radius: 5px;
    width: 10px;
    height: 14px;
    cursor: pointer;
  }
    input[type="range"]::-moz-range-thumb {
      -moz-appearance: none;
      background-color: black;
      border: 1px solid black;
      box-shadow: 0 1px 0 black;
      width: 10px;
      height: 14px;
      cursor: pointer;
    }
     input[type="range"]::-webkit-slider-thumb:active {
      background-color: #06d3b7;
      border: 1px solid black;
      width: 8px;
      height: 12px;
      margin: 1px;
      }
     input[type="range"]::-moz-range-thumb:active {
      background-color: #06d3b7;
      background-color: #06d3b7;
      border: 1px solid black;
      width: 8px;
      height: 12px;
      margin: 1px;
      }
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: #06d3b7;
      background-color: #06d3b7;
      border: 1px solid black;
      width: 8px;
      height: 12px;
      margin: 1px;
    }
      input[type="range"]::-moz-range-thumb:hover {
        background-color: #06d3b7;
        background-color: #06d3b7;
        border: 1px solid black;
        width: 8px;
        height: 12px;
        margin: 1px;
      }
      input[type="checkbox"]:checked {
        color: black;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 2px;
        font-size: 14pt;
        border: 1px solid black;
        box-shadow: 0 2px 0 black;
        background-color: #06d3b7;
      }

      input[type="checkbox"]:hover {
        background: #888;
      }
      input[type="checkbox"]:checked:hover {
        background: #06d3b7;
      }

      input[type="checkbox"] {
        color: black;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 2px;
        font-size: 14pt;
        border: 1px solid black;
        box-shadow: 0 2px 0 black;
        background-color: #fff;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 14px;
        width: 14px;
      }

.social-list {
    text-align: center;
    font-size: 0;
}
.social-list li {
    display: inline-block;
    width: 60px;
    position: relative;
}
.social-list {
    padding-left: 0px;
    text-align: center;
    font-size: 0;
    margin-top: 10px;
    margin-bottom: -20px;
}
.social-list li > a:hover > svg {
    fill: #06d3b7;
}
.social-list li > a > svg {
    top: 10%;
    width: 40%;
    height: 40%;
    fill: #888;
}

label {
  padding: 5px 5px 0px 5px;
}
#tabcontentselector {
  border: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  border-radius: 0px 10px 10px 0px;
}
#tabcontentselector:hover {
	color: #555;
}

.specimen{
  width: 224px;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2px 10px 6px 10px;
  border: 0px;
  cursor: pointer;
	color: black;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid black;
  box-shadow: 0 3px 0 black;
  background-color: #fff;
}


.collapsible {
  background-color: transparent;
  color: #06d3b7;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  background-color: #88888811;
  margin: 5px;
}

.collapsible:hover {
  color: #555;
}

.reset:hover{
	color: #555;
}

a:hover{
	color: #555;
}

.content {
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.o{
  display: flex;
  margin: 4px 2px 4px 2px;
}

.butttton{
  display: flex;
  flex-wrap: wrap;
}


@media all and (min-width: 500px) and (max-width: 1000px) {
  .back-button{
    margin: 10px 10px 10px 10px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  main{
    margin-top: 20px;
  }
}

@media all and (max-width: 500px) {
  .back-button{
    margin: 10px 10px 10px 10px;
  }

  form{
    margin-top: 10px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  body{
    margin: 2em 10% 2em 10%;
  }

  label{
      font-size: 14px;
  }

}