html, body {
	height: 100%;
	margin: 0;
}

body, header, .button {
	display: flex;
	justify-content: safe center;
	align-items: safe center;
	gap: 1rem;
}

body {
	flex-direction: column;
	font-family: "Estedad-MDarvishi", sans-serif;
	color: black;
}

header {
	flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

::selection {
	background-color: black;
	color: #f0f8ff;
}

svg {
	margin-bottom: 1px;
	height: 1.7rem;
	fill: black;
}

.svg-download{
	fill: rgb(255, 255, 255);
}

.title {
	font-family: "Estedad-Mad", "Estedad-MDarvishi", sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 36pt;
}

.subtitle {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

p {
	text-align: center;
	margin: 1rem auto;
	max-width: 50rem;
	padding: 0 1rem;
	font-size: 12.5pt;
}

.button, .button-menu {
	font-family: "Estedad-MDarvishi", sans-serif;
	margin: .8rem;
	position: relative;
	gap: .5rem;
	padding: 14px 26px 12px 26px;
	color: black;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 10px;
	font-size: 14pt;
	border: 2px solid black;
	box-shadow: 0 3px 0 black;
	background-color: #ffffff;
}

.button:hover, .button:focus, .button-menu:hover, .button-menu:focus {
	background-color: rgb(245, 245, 245);
	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: ease;
}

.button-download:hover, .button-download:focus {
	background-color: #00bb8c;
	border: 2px solid black;
	box-shadow: 0 3px 0 black;
	color: rgb(255, 255, 255);
}

.button-download {
	background-color: #00cc99;
	color: #fff;
}

.do {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.title-box {
	text-align: center
}

@media (prefers-color-scheme: dark) {

	html, .button {
		filter: invert() hue-rotate(180deg);
	}

	.button:hover, .button:focus {
		filter: brightness(1.2) invert() hue-rotate(180deg);
	}

}
