body{
    direction: rtl;
    margin: 2em 15% 2em 15%;
    font-family: "Estedad-MDarvishi", sans-serif;
    line-height: 1.5;
    word-break: break-word;
    text-decoration:none;
    font-size: 1.2rem;
  }

button{
    display: flex;
    font-family: "Estedad-MDarvishi", sans-serif;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    margin: 10px 10px 10px 10px;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
    padding: 8px 22px;
    font-size: 1.2rem;
    border: 0px;
    cursor: pointer;
}


.div-download{
    justify-content:center;
    display: flex;
    flex-direction: row;
}

.buttondownload{
    background-color: #00cc99;
    color:#f0f0f0;
}

svg{
    margin: 0px 0px 0px 5px;
    user-select: none;
    width: 1em;
    height: 1em;
}

a{
    color:#00cc99;
    text-decoration:none;
}

.footer{
    margin-top: 3em;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
}

li{
    margin: 10px;
}

h4{
    margin: 20px 0px 5px 0px;
    font-size: 24px;
}

::selection {
    background-color:rgb(63, 71, 79);
    color:aliceblue;
}

@media all and (min-width: 384px) and (max-width: 730px) {
    body{
        margin: 2em 7.5% 2em 7.5%;
        font-family: "Estedad", sans-serif;
        line-height: 1.5;
        word-break: break-word;
        text-decoration:none;
        font-size: 1.2rem;
      }

    h1{
        font-size: 2rem;
    }

    .footer{
        margin-top: 3em;
        padding: 10px 0;
        text-align: center;
        font-size: 16px;
    }
}

@media all and (min-width: 300px) and (max-width: 384px) {
    body{
        margin: 2em 5% 2em 5%;
        font-family: "Estedad", sans-serif;
        line-height: 1.5;
        word-break: break-word;
        text-decoration:none;
        font-size: 1.05rem;
      }

    h1{
        font-size: 1.8rem;
    }

    .footer{
        margin-top: 3em;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
    }
}

@media all and (max-width: 300px) {
    body{
        margin: 2em 5% 2em 5%;
        font-family: "Estedad", sans-serif;
        line-height: 1.5;
        word-break: break-word;
        text-decoration:none;
        font-size: 1.1rem;
      }

    h1{
        font-size: 1.8rem;
    }

    .footer{
        margin-top: 3em;
        padding: 10px 0;
        text-align: center;
        font-size: 13px;
    }
}